# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Logs
logs/

# Secrets / API keys
service_account.json
*.env

# Matplotlib / temp files
*.png

